#include <iostream>
#include <stdlib.h>
#include <string>

using namespace std;
/** Declaração das variaveis**/
float comissao;
/** Fim da declaração de variavéis.**/


/** criação dos componentes do registro! **/
struct cadastro {
    char nome[50],sexo[15],email[30],cargo[20],cpf[20];
    int idade,telefone;
    float salario,salario_atual;
};
struct cadastro funcionario;
/** Fim do Registro**/
//Início da Função
void exibir(char name, int age, char mail, double sal, double qttd) {
    cout << "Nome: " << name;
    cout << "Idade: " << age << " anos.";
    cout << "Email: " << mail;
    cout << "Salário Atual: R$ " << sal;
    cout << "Comissão por Quantidade de Vendas: R$ " << qttd;
    return 0;
}

//FimFunção

int main()
{
    cout<<"--- Sistema Automatizado Empresarial. Versão 1.0 ---"<<endl;
    cout<<"Por favor informe o nome do Funcionário: ";
    cin>> funcionario.nome;
    cout<<"Informe o sexo do Funcionário: ";
    cin>>funcionario.sexo;
    cout<<"Informe o email do funcionário: ";
    cin>>funcionario.email;
    cout<<"Informe o cargo do funcionário: ";
    cin>>funcionario.cargo;
    cout<<"Informe a idade do funcionário: ";
    cin>>funcionario.idade;
    cout<<"Informe o telefone de contato (APENAS NÚMEROS) ";
    cin>>funcionario.telefone;
    cout<<"Informe o CPF do funcionário (APENAS NÚMEROS): ";
    cin>>funcionario.cpf;
    cout<<"Informe agora o salario do Funcionário (APENAS NÚMEROS): R$ ";
    cin>>funcionario.salario;
}
